%nav.breadcrumb
  %a(href="/") На главную

#content
  %section(role="main")
    %h1 Такой страницы нет

    %p
      Свяжитесь со мной, если вы думаете, что это ошибка.
      Спасибо.

= haml :sidebar, :layout => false
