%nav.breadcrumb
  %a(href="/") На главную

#content
  %section(role="main")
    %h1 Такой страницы нет

    %p
      Свяжитесь со мной, если вы думаете, что это ошибка.
      Спасибо.
    %a{href: 'mailto:team@partisanink.com', target: '_blank'}
      team@partisanink.com

= haml :sidebar, :layout => false
