Date: 20 May 2014
Categories: vision

%h1 Хорошо и плохо
%p
  У меня есть свое видение того, как должнен выглядеть интерьер улиц.
  Мнение нашей команды субъективное, но единственно верное.
  По той простой причине, что делаем это мы, и ответственность нести за это тоже нам.
%p
  Нет никакого желания полностью перекрашивать стены. Это долго, дорого, почти невозможно согласовать.
  Надо изменять реальность в лучшую сторону минимальным вмешательством.
  Тогда будет лучше, чище, без революций и эпатажа. Ну и проще с чиновниками и негативно-активными жителями, конечно.

%p Поэтому

%h2 Плохо
%p


%h2 Хорошо
%p Хорошо

Карты проездов наших запутанных дворов, которые проектировали криворукие уроды. Оно сверху на плане выглядит более или менее.
Но жить там невозможно.


Импрессионизм
