Categories: vision

%h1 Хорошо и плохо
%p
  У нас есть свое видение того, как должнен выглядеть
  %i интерьер улиц нашего города.
  Мнение нашей команды субъективное, но единственно верное.
  По той простой причине, что делаем это мы, и ответственность нести за это тоже нам.
%p
  Нет никакого желания полностью перекрашивать стены. Это долго, дорого, почти невозможно согласовать.
  Надо изменять реальность в лучшую сторону минимальным вмешательством.
  Тогда будет лучше, чище, без революций и эпатажа. Ну и проще с чиновниками и негативно-активными жителями, конечно.
%p
  Революция, убегание от ментов и рисование по ночам – не наши методы. Рисовать надо легально, нарабатывать отношения
  с властями. Это никак не связано с нашими политическими взглядами, просто это единственно возможный путь
  долгосрочной работы.

%h3 Хорошо
%p
  Чего хотелось бы попробовать, от простого к сложному:
%ul
  %li Просто нарисовать, наконец, номера домов так, чтобы их было видно. Ровно и красивым шрифтом
  %li
    Нарисовать карту проезда в наших запутанных дворах, которые проектировали криворукие уроды. Оно сверху на плане выглядит более или менее.
    А разобраться, как проехать, без навигатора невозможно
  %li
    Минимально дополненная реальность – персонажи
    %img{src: '/attachments/goodandbad/good1.jpg'}
  %li Геометрические узоры
  %li
    Постеризованные изображения, возможно мотиваторы. Сложно подобрать действительно хорошее изображение
    %img{src: '/attachments/goodandbad/Unknown.jpeg'}
  %li
    Импрессионизм. Разве что новый Моне освоит технику рисовача
    %img{src: '/attachments/goodandbad/Monet.jpg'}
%p
  В общем, нужны нейтрально-позитивные изображения, уместные в конкретных ситуациях.
%p
  Рисовать будем массово, 10-20 изображений в одном районе. Может, объявим конкурс.

%hr

%h3 Плохо
%p
  Чего точно не будет:
%ul
  %li
    Всякой хуйни
  %li
    Политики
  %li
    Этих ваших баянов из интернетов
  %li
    Сюрр. Его и так хватает в реальности, спасибо
    %img{src: '/attachments/goodandbad/surr.jpg'}
  %li
    Современного искусства
    %img{src: '/attachments/goodandbad/bad1.jpg'}
    %img{src: '/attachments/goodandbad/bad2.jpg'}
    %img{src: '/attachments/goodandbad/bad3.jpg'}
    Наверное, это что-то значит. Но этому не место на улицах. Вокруг и так остро не хватает вменяемых людей
    %img{src: '/attachments/goodandbad/bad4.jpg'}
  %li
    Граффити тегов
    %img{src: '/attachments/goodandbad/bad5.jpg'}
    и прочей нечитаемой дряни