Categories: vision

%h1 Похожие штуки

%h3
  %a{href:'http://facadeprinter.org', target: '_blank'}
    Facadeprinter
%p
  Ребята сделали робота, который стреляет пейнтбольными шариками. Когда шариков много, получается картинка
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "375", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/12872884", :webkitallowfullscreen => "", :width => "100%"}

%h3
  Robo-rainbow
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "375", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/19374769", :webkitallowfullscreen => "", :width => "100%"}
%p
  Очень простой и позитивный вандализм

%h3
  %a{href:'http://hektor.ch', target: '_blank'}
    Hektor
%p
  Идея брать два троса для позиционированя пришла из этого проекта. Остальное пришлось изобретать самим
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "375", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/15823044", :webkitallowfullscreen => "", :width => "100%"}

%h3
  %a{href:'http://www.cnc-hotwire.de/content/CNC_HotWire_Bauvorschlag%20grob_03.html', target: '_blank'}
    Пенорезка
%p
  Вырезание раскаленной проволокой произвольных форм из пенопласта
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "//www.youtube.com/embed/-CKNajrRIeI", :width => "100%"}

%h3 Ну и целая куча устройств для рисования ручкой/маркером на стене
%h3
  %a{href:"http://wiki.linuxcnc.org/cgi-bin/wiki.pl?Koppi's_Toy", target: '_blank'}
    Koppi's_Toy

%h3
  %a{href:'http://www.polargraph.co.uk/whats-a-polargraph/', target: '_blank'}
    Polargraph
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "375", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/24647023", :webkitallowfullscreen => "", :width => "100%"}

%h3
  %a{href:'https://www.marginallyclever.com/shop/drawing-robots', target: '_blank'}
    Marginally Clever

%h3
  %a{href:'http://maxim-s-barabash.github.io/ZebraTrace/', target: '_blank'}
    Zebratrace
%p
  Интересный инструмент для преобразования растровых изображений в вектор:
%img{src: '/attachments/ZebraTrace.jpg'}

