Date: 15 November 2015

%h1 Результаты рисования на доме. Fail.
%p Несколько запоздалое описание попытки рисовать на большом доме.
%img{src: '/attachments/articles/full-size-test/image00014.jpg'}
%p
  В рамках конкурса
  %a{href: 'http://people.onliner.by/2015/08/06/razamminsk-3', target: '_blank'} #РазамМінск
  мы пробовали применить рисовача на большом доме. Публичный конкурс с конкретными дедлайнами – отличный способ ускорить
  работу по проекту. Как оказалось, для того, чтобы перейти с одной стены на целый дом недостаточно просто взять ремни подлиннее.
  Но мы попытались.
%cut
%p
  Мы долго согласовывали рисунок, долго попадали на крышу, долго устанавливали и выставляли по уровню двигатели,
  мы решили вопрос с подведением питания, сделали отдельные крепления для двигателей на крыше.
%p
  %img{src: '/attachments/articles/full-size-test/image00003.jpg'}
  %img{src: '/attachments/articles/full-size-test/image00004.jpg'}
  %img{src: '/attachments/articles/full-size-test/image00008.jpg'}
  %img{src: '/attachments/articles/full-size-test/image00010.jpg'}
  %img{src: '/attachments/articles/full-size-test/image00016.jpg'}
%p
  А потом увидели вот такую картину:
%p
  %img{src: '/attachments/articles/full-size-test/image00015.jpg'}
%p
  Зеленым показано ожидаемое и правильное положение ремней, на которых подвешен баллон, то есть ровные линии от
  двигателей к исполнительному устройству. Из этого предположения рассчитывается вся математика позиционирования баллона.
%p
  На деле же форма ремней выглядит, как показано черным (ремни плохо видны на
  фотографии). Они провисают под собственным весом, внося существенные искажения в рисунок. Чем ближе к краю дома
  баллон и чем он ниже, тем больше искажения.
%p
  %img{src: '/attachments/articles/full-size-test/image00002.jpg'}
%p
  Кроме того, провисающие ремни очень сильно подвержены воздействию ветра. Проще говоря, раскачивается баллон так,
  что компенсировать провисание ремней через коррекцию математики невозможно.
%p
  %a{href: '/articles/more-axis', target: '_blank'} Дополнительные ремни снизу тоже не помогут
%h4
  Что теперь?
%p
  Непонятно.
%p
  Выглядит так, что надо вешать некие датчики на баллон, чтобы знать его реальное положение, а потом двигателями
  убирать разницу между ожидаемым и реальным положением баллона. Что-то из Indoor навигации, вроде
  %a{href: 'http://marvelmind.com/', target: '_blank'}
    этой
  системы.
  Это довольно сложно, наверное я даже отдам это на аутсорс. Проект усложнился в разы, если не на порядки.
%p
  Что, кстати, не означает, что он остановлен.
%hr
%p
  %a{href: 'https://www.facebook.com/profile.php?id=100008286421436', target: '_blank'} Наташа
  нарисовала прекрасную картину для 10-этажного дома. С учетом всех нюансов техники рисовача, масштаба дома
  и особенностей баллонов граффити. Только ради одного этого, мы готовы продолжать. Пока что, мы сделали шаг назад,
  чтобы разогнаться.
%p
  %img{src: '/attachments/articles/full-size-test/picture.jpg'}
