Date: 03 February 2015
Categories: articles

%h1 Улучшена работа с .svg файлами
%p
  Пока бездельничал в отпуске на пляже, проделал большую работу по улучшению качества алгоритма отрисовки.
  Чего поменялось:
  %ul
    %li Кубические и квадратичные кривые Безье теперь отрисовываются плавно (настраивается)
    %li Оптимизировано написание шрифтов
    %li Отдельные элементы рисунков теперь можно отследить - очень полезно при отладке
    %li Уменьшен размер конечных файлов
    %li Поддерживается работа с несколькими цветами в файле рисунка
    %li Теперь можно отследить и оценить направление движения рисовача по холсту до запуска. Видно, что порядок движения от одной линии до другой надо оптимизировать
    %li Большой рефакторинг и исправление багов

%object{data: '/attachments/articles/hare.svg', type: 'image/svg+xml'}