Date: 4 February 2015

%h1 Нужно больше ремней
%p
  Меня часто спрашивают, а еще чаще рекомендуют идею о добавлении 1-2 дополнительных ремней снизу
  по центру либо углам холста.
  Может показаться, что это устранит колебания рисовача по всем осям. Предлагают часто, поэтому решил
  написать об этом отдельную заметку.

%p
  Безусловно, эта мысль прорабатывалась. Но была отброшена после ряда экспериментов и консультаций
  ввиду целого ряда неустранимых недостатков.
  %cut
  %ul
    %li
      Натяжения, которое могут создать дополнительные ремни, не хватает, чтобы зафиксировать конструкцию.
      На деле, она все равно болтается. Плюс, ремни – они настоящие, а не из учебника физики. Они упругие и тянутся,
      даже армированные стальной проволокой, которые мы используем сейчас.
    %li
      Прелесть конструкции с двумя ремнями – в ее масштабируемости. Она одинаково просто крепится на
      стену любой высоты. А вот крепление на стену десятиэтажного дома и калибровка конструкции с четырьмя ремнями –
      процесс крайне геморройный.
    %li
      При использовании шаговых (дискретных) двигателей из-за мельчайших расхождений в позиционировании каждого
      из ремней, а также неодновременного в реальной жизни старта/остановки двигателей, разнесенных на разное расстояние,
      система имеет свойство входить в резонанс и рвать ремни/вырывать двигатели из креплений.
      Добавьте сюда люфты и неидеальную параллельность осей двигателей друг другу.
      Ни о каком устранении раскачиваний и речи быть не может.
    %li
      Можно продолжать с недостатками, но и этих хватит, чтобы от идеи отказаться.

%p
  Такие конструкции существуют и оправданы только в тех случаях, когда рисование идет в
  %em горизонтальной
  плоскости. Например, так, с четырьмя осями:

%p.youtube
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/hrsDBdnj5E8", :width => "100%"}

%p.youtube
  Или с тремя (снимали давно и на утюг).
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/fK8-qOuvbQM", :width => "100%"}


%p.youtube
  Дело в том, что за счет гравитации система выравнивается, естественным образом натяжение всех ремней/тросов
  усредняется. Гравитация же служит хорошим гасителей колебаний, которые могут стать проблемой.
  Натяжение всех ремней одинаковое. А в системе с
  %em вертикальной
  системой рисования это справедливо только для двух верхних ремней. Ими и пользуемся.
%p
  Аминь.