Date: 31 March 2015
Categories: articles

%h1 Social Weekend. Итоги.
%p
  Вот
  %a{href: '/articles/socialweekend', target: '_blank'}
    здесь
  я писал о своей номинации в Social Weekend
%p
  Среди прочего я предлагал сделать рисунки тенью. Впервые такое я увидел в аэропоту Абу-Даби в феврале 2015. Эта идея мне
  понравилась, и я подумал, что хотел бы увидеть что-то похожее у нас в городе. Мне казалось, что это сложная индивидуальная
  работа.
%p
  Однако инженер во мне требовал универсального решения. Как это часто у меня бывает, идея зрела постепенно, где-то на
  грани осознания, и было важно её не трогать до поры. А потом прорвало.
%p
  Карандаш, бумага + школьные знания за девятый класс = формула. Чуть-чуть программирования, и теперь я могу взять любой
  рисунок, задать параметры света и размеры желаемой тени и получу готовую модель для распечатки на 3d-принтере или
  вырезания из картона/фанеры.

%img{src: '/attachments/articles/shadows/shadow.jpg'}
%cut

%p Оригинал изображения:
%img{src: '/attachments/articles/shadows/ballet.svg'}

%p Так выглядит модель после преобразований:
%img{src: '/attachments/articles/shadows/shadow.svg'}

%p А вот вся конструкция под другим углом:
%img{src: '/attachments/articles/shadows/plastic.jpg'}

%p И при свете:
%img{src: '/attachments/articles/shadows/how-it-works.jpg'}

%p
  Само-собой, это всё можно и нужно облагородить. Пример:
%img{src: '/attachments/articles/shadows/example.jpg'}

%p
  P.S. Причем здесь Social Weekend? Всё просто. Ситуация "провел мастер-класс, узнал много нового" для меня не нова. Но
  объявить номинацию, предложить денег, чтобы потом самому ее и выполнить – это впервые. Техническое решение найдено, но
  нет архитектора/художника, который смог бы это правильно оформить и преподать.
%p
  Номинация по-прежнему открыта, бюджет есть!