Date: 11 February 2015

%h1 Social Weekend
%p
  До первого марта будет продолжаться прием заявок на участие в
  %a{href: 'http://www.socialweekend.by', target:'_blank'} конкурсе социальных идей для Беларуси
  Social Weekend
%p
  Я решил присоединиться к хорошему делу и готов профинансировать хороший "железный" проект.
%p
  Это может быть всё, что угодно.
%p
  Можно сделать красивую подсветку темного перехода,
  %img{src:'/attachments/articles/sw/1.jpg', width: '100%'}
%p
  можно сделать табло на остановке или городскую навигацию:
  %img{src: '/attachments/articles/sw/2.jpg'}

%p
  можно придумать интерактивную карту для туристов и поставить ее на улице или в метро,
  %img{src: '/attachments/articles/sw/3.jpg'}
%p
  можно сделать устройство для помощи людям с ограниченными возможностями,
  %img{src: '/attachments/articles/sw/4.jpg'}
%p
  это может быть арт-объект вроде этого:
  %img{src:'/attachments/articles/sw/5.jpg', width: '100%'}
%p
  этого:
  %img{src:'/attachments/articles/sw/6.jpg', width: '100%'}
%p
  или этого:

%p.youtube
  %iframe{allowfullscreen:'', frameborder: '0', height: '315', src: 'https://www.youtube.com/embed/yEH4Yum4nN4', width: '100%'}

%p
  можно сделать рисунок тенью и поместить на стене дома в вашем спальном районе:
  %img{src:'/attachments/articles/sw/7.jpg', width: '100%'}

  %img{src:'/attachments/articles/sw/8.jpg', width: '100%'}

  %img{src:'/attachments/articles/sw/9.jpg', width: '100%'}

%p
  Всё, что угодно, что сделает нашу жизнь лучше. Если установку этого надо будет согласовать с властями – согласуем.

%p
  Если вы можете придумать хороший проект, но не знаете, как сделать это руками, я помогу найти исполнителей. Если есть
  проблема с инструментами, оборудованием и/или помещением – можно будет воспользоваться ими в
  %a{href: 'http://hackerspace.by', target: '_blank'} Минском хакерспейсе
  \.
%p
  Мне бы хотеллось видеть чуть больше человечности и индивидуальности на наших улицах, которые не предусмотрены
  бездушными генпланами города.
%p
  Это значит, что недостаточно просто заказать или купить что-то. Проект надо
  %em создать.
  Можно подсмотреть что-то или даже скопировать, но душа в проекте должна быть.
%p
  Ориентир бюджета – 30 000 000 белорусских рублей (~2000$). Цифра гибкая и не окончательная.
%p
  С любыми вопросами до, во время и после подачи проектов обращайтесь ко мне в скайпе и фейсбуке: mikhail.chuprynski