Date: 5 August 2015

%h1 Робот разрисует многоэтажку в Минске
%p Улучшение Минска совместно с Talaka.by и Onliner.
%p
  Наш робот предсказуемо выходит из стадии лабораторных тестов в люди.
%img{src: '/attachments/articles/talaka/poster1.jpg'}
%p
  Нам захотелось поучаствовать в конкурсе #РазамМiнск, который посвящен любым проектам, делающим город лучше.
  В рамках этого проекта мы хотим согласовать с городскими властями и разрисовать одну из стен на многоэтажке.
  После отсева и голосования мы прошли отбор в следующий этап конкурса, когда, собственно, уже надо будет поработать.
%p
  Подробнее здесь:
  %br
  %a{href: 'http://www.talaka.by/projects/894', target: '_blank'} http://www.talaka.by/projects/894
  %br
  %a{href: 'http://people.onliner.by/2015/08/06/razamminsk-3', target: '_blank'} http://people.onliner.by/2015/08/06/razamminsk-3
%p
  %img{src: '/attachments/articles/talaka/wall.jpg'}

