Categories: about

%h1 О проекте

%p
  Это принтер. Он позволяет наносить произвольное изображение на вертикальную поверхность любых размеров.
  Это может быть стенд, стена в квартире, подъезде или фасад десятиэтажного дома размером 20 на 30 метров. Или его часть.
  А может быть и плоская поверхность произвольной формы, например,
  %a{href: '/about/goal'} вот этот
  зубр.

%p
  Суть проста. Красящее устройство висит на двух тросах, закрепленных в верхних углах холста.
  Изменяя длину тросов, можно позиционировать устройство по всей поверхности.
  Я написал программу, которая преобразуют кривые рисунка в команды для двигателей с учетом размера
  холста, и разработал устройство, которое, собственно, рисует. И то, и другое уже работает и постоянно
  улучшается.
%img{src: '/attachments/example.jpg'}
%p
  Проект разрабатывается в свободное от работы и семьи время – по ночам, выходным, в командировках,
  перерывах на обед и т.д.
  Необходимо, чтобы в эти моменты были еще и силы, и вдохновение, и свежие идеи, и много чего еще.
  Поэтому проект движется медленно, но неотвратимо. С открытием в Минске
  %a{href: 'http://hackerspace.by', target: '_blank'} хакерспейса
  стало значительно легче с инструментами, технологиями и идеями. Теперь проект идет быстрее.


%h1 Преимущества
%p
  Может рисовать на поверхностях любого размера. "Любой" ограничен только длинной ремня, это сотни метров.
%p
  Художников, способных нарисовать что-то стоящее на фасаде дома, болтаясь над землей, единицы,
  а сделать то же самое на компьютере – сотни.
%p
  Стоимость изображения в разы меньше нарисованного рукожопами в люльке.
%p
  Вмещается в сумку.


%h1 Особенности
%p
  Нужно векторное изображение (.svg), чтобы его можно было безболезненно масштабировать, тогда получится красиво.
  Можно и растровое, но будет как-то так:
%img{src: '/attachments/che.jpg'}

%p
  или так:
%img{src: '/attachments/triangles.png'}

%p
  Partizanink требует своей техники рисования. Техника рисования углем отличается от техники рисования акварелью и,
  уж тем более, отличается от принтера, оно и понятно. Врочем, это несколько простых и логичных правил,
  никакого космоса.
%img{src: '/attachments/debug.jpg'}
%p
  Рисовач не позволит забить на технологию окраски – нужен правильный температурный режим (как минимум, выше нуля),
  нужна грунтовка и, желательно, лакировка поверх для защиты от солнца и дождя в будущем. Все, что справедливо для
  графити, справедливо и для этого устройства. В реальной жизни техлология не соблюдается, красят когда захотят,
  даже зимой в минус двадцать, про грунтовку вообще никто не слышал. Либо забивают, либо воруют.
  Результаты можно наблюдать в любом дворе.

%h1 Недостатки
%p
  Даже в далеких будущих версиях не сможет передать нюансы работы кистью художника-профессионала.
  Не сможет делать плавные градиенты и смешивать цвета. Собственно, и задачи такой не стоит.

%h1 Лицензия
%p
  Проект не планирует когда-либо становиться коммерческим и распространяется свободно по лицензии GNU GPL.
