Date: 11 Dec 2014
Categories: about

%h1 Цель проекта
%p
  Сделать мой город лучше.
%p
  Меня угнетает серость вокруг, особенно зимой, мне некомфортно жить в таком месте. Меня бесит годами
  культивируемый декор советских городов в стиле унылого и скучного говна. И даже если краски новостроек
  еще не выцвели и не отвалились, это все равно унылое и скучное говно. Страх выделиться, желание быть как все –
  вот основной мотив окружающей нас действительности. И меня это напрягает куда больше, чем кровавый режим и попрание
  прав человека.
%p
  Кто-то устраивает голодовки или приковывает себя наручниками на площадях. Кто-то устраивает революции
  или пишет коллективные жалобы. А я хочу лучше себя чувствовать в своей стране. Ну и делаю то, что от меня зависит.
  В силу своих скромных способностей. Вливайся.
%p
  И еще это лучше, чем пить водку на кухне и ругать правительство.
%p
  Я понимаю, что мне еще идти и идти, я понимаю, что результат не гарантирован. А даже когда я закончу, все равно
  останутся чиновники, которые все запретят. Просто на всякий случай. И, может быть, придется уходить в подполье.
  Хрен с ним. С этим я тоже разберусь.
%hr
%p
  Но до этого в качестве промежуточной цели для проекта я поставил раскраску вот этого ужаса на границе Брестской
  и Минской областей.
%img{src: '/attachments/z1.jpg'}
%p
  Он большой
%img{src: '/attachments/z2.jpg'}
%p
  И сложной формы
%img{src: '/attachments/z3.jpg'}
%p
  И ужасен он не сам по себе, а от убогой реализации. Его нельзя изменить, но можно хотя бы красиво раскрасить.
  Это достаточно сложно с технической
  точки зрения. Если я решу эту задачу, то уж тем более смогу решить и основную.
%p
  Уже два года я веду и финансирую этот проект. Еще два года мне идти, если только я вдруг не захочу уволиться и
  поработать в свое удовольствие.
%hr
%p
  P.S.
  %br
  Однажды мне очень уважаемые люди подробно на пальцах объяснили, почему эта затея у меня не получится. Никогда.
  Они привели с десяток убийственных аргументов. От технических и технологических до финансовых и политических.
  В то время у меня было только желание и смутное представление,
  с чего начинать. И знаете, что? Я, дебилушка, поверил и блять потерял ПЯТЬ лет своей единственной жизни на
  мнение каких-то мудаков, прежде чем понял, что к чему. Еще спустя полтора года я нарисовал свою первую картинку.
  Все это время находились нытики и специалисты, которые говорили, что не получится ничего.
%p
  Так вот, теперь мне интересно мнение только тех людей, кто идет со мной в одну сторону и/или знает больше меня в
  предметной области. Все остальные идут в известном направлении.