Categories: versions

%h1 Команда
Наша команда состоит из нескольких ролей (отвечающих за свои вопросы) :
%ul
  %li Самый главный
  %li Дизайнер (что рисовать, где, как это все связать с окружающим миром)
  %li Художник (рисует с учетом ограничений инструмента, физики и здравого смысла)
  %li Программист (преобразует единички и нолики из файлов рисунков в единички и нолики двигателей рисовача)
  %li Конструктор (как физически состыковать между собой все узлы, как побороть ветер, земное притяжение и законы физики)
  %li Технолог (как правильно красить, каким инструментом, какой краской, когда, что для этого нужно)
  %li Схемотехник (как все правильно спаять, согласовать сигналы и не сжечь ничего ненароком)

Это в идеале. А на самом деле, приходится сидеть на нескольких стульях сразу. Это снижает скорость работы в тех областях, где знаний недостаточно.
Приходится тратить время, нервы, вдохновение и деньги на обучение, изобретение велосипедов и отладку решений.

%hr
%h1
  %a{href: 'https://www.facebook.com/mikhail.chuprynski', target: '_blank'}
    Михаил Чупринский
%p.quote
  Мы медленно спустимся с горы
  %br
  и медленно покроем все стадо.
  %br
  Ага.
%p.userpic
  %img{src: '/attachments/mc.jpg'}
%p
  Директор по профессии, программист и схемотехник по образованию, ну и пока конструктор+технолог от безысходности.

%hr
%h1
  %a{href: 'https://www.facebook.com/profile.php?id=100008286421436', target: '_blank'}
    Наталья Боричевская
%p.userpic
  %img{src: '/attachments/nb.jpg'}
%p
  Художник и человек, способный видеть прекрасное там, где его еще нет.

%hr
%h3 Нам нужны
%p
  Да, собственно, нужны знающие люди. Нужен понимающий технолог, очень нужен конструктор. Даже толковый ruby-программист тоже нужен.
  Если у вас есть, что сказать или чем нам помочь -
  %a{href: 'mailto:team@partisanink.com', target: '_blank'}
    пишите
