Date: 07 June 2014
Categories: versions

%h1 v1.5 (текущая)
%p
  Цели
  %ul
    %li Рисование произвольных кривых, в т.ч. текста
    %li Уменьшение подтеков и ширины линии
    %li Увеличение скорости двигателей
%p
  Ограничения
  %ul
    %li Краска для граффити Trane
    %li Skinny Cap
    %li Картон вместо холста
    %li Размер рисунка ограничен стендом ~1.2х1.5м и ремнями по 2.5м

Работает как-то так:
%p.youtube
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "//www.youtube.com/embed/lra0QomDrCA", :width => "100%"}