Date: 12 Mar 2015
Categories: versions

%h1 v2.0
%h1 Релиз
%p
  После долгих трудов и переделок:
  %ul
    %li Новая конструкция исполнительного устройства
    %li Новая конструкция креплений двигателей
    %li Новый софт
    %li Длинные ремни
%p
  Результат:
  %ul
    %li Нет подтеков
    %li Раскачивание баллона не влияет на качество линии
    %li Скорость рисования возросла в четыре раза
    %li Максимальная площадь рисования сейчас 100м2
    %li Идеальная повторяемость

#fb-root
:javascript
  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
.fb-post{"data-href" => "https://www.facebook.com/video.php?v=906333529388358", "data-width" => "560"}
