Date: 27 July 2014
Categories: versions

%h1 v2.0 (в работе)
%p
  Цели
  %ul
    %li Нарисовать большой рисунок на большой стене ~6x3м
    %li Устранение раскачивания баллона в X и Y плоскостях, новое крепление баллона
    %li Уменьшение подтеков и ширины линии (до 20мм)
    %li Увеличение скорости двигателей
    %li Попробовать работу с несколькими цветами
    %li Попробовать работу с слоями краски
    %li Попробовать работу на улице
%img{src: '/attachments/v2.jpg'}
%cut
%p
  Ограничения
  %ul
    %li Краска для граффити Trane
    %li Skinny Cap
    %li Негрунтованный и неподготовленный бетон в роли холста
%p
  Проблемы
  %ul
    %li Доставка ремней из Китая (очень долго)
    %li 3D печать
    %li Проектирование нового крепления

%img{src: '/attachments/assembly2.0.jpg', width: '100%'}