Date: 16 Jan 2015
Categories: versions

%h1 Новая версия распечатана, готовим ее к работе
%p
  После долгого простоя, мы взяли себя в руки. Дело двинулось!
%p
  Нас ждет большая работа на неделе 19-23 января. Присоединяйтесь.
%h1
  Сравнение версий 1.5 и 2.0.alpha

%img{src: '/attachments/v2/IMG_033.jpg', width: '100%'}
%p
  Нашли пару багов, после отлова запустим.
%cut
%img{src: '/attachments/v2/IMG_0337.jpg', width: '100%'}
%img{src: '/attachments/v2/IMG_0339.jpg', width: '100%'}
%img{src: '/attachments/v2/IMG_0340.jpg', width: '100%'}