Date: 17 May 2015
Categories: versions

%h1 v2.5 (текущая)
Эти новомодные гравитационные подвески и торсионные поля хоть и эффектны, но пока еще недостаточно обкатаны.
Придется возвращать старые добрые ремни.

%iframe{allowfullscreen: '', frameborder: '0', height: '315', src: '//www.youtube.com/embed/oILQ_MxjH5o', width: '100%'}

%p Чего хотелось добиться:
%ul
  %li Большой размер рисунка – 6х2 метра
  %li Проверить возможность заливки изображений
  %li Сделать 4-х цветный рисунок
  %li Узнать, как поведут себя 6 пересекающихся слоев
  %li Проверить механику на километре пробега (~600 метров краски и ~400 холостого хода)
  %li Опробовать грунтованную штукатурку в качестве холста
  %li Научить софт делать обрезку изображения и его позиционирование на холсте без потери качества

%p Выводы:
%ul
  %li Сто метров рисования – это ровно один баллон краски Trane.
  %li Рыболовный плетеный шнур вместо ремней – всё-таки плохая идея. Он тянется и пружинит. Не так, как леска,
  конечно, но заметно. Армированные зубчатые ремни сложнее в эксплуатации и проектировании, но зато не имеют
  таких недостатков.
  %li Неудобная система замены баллонов. В процессе работы надо либо иметь два комлекта, либо менять все болтовые
  соединения на карабины.
  %li Оптимизация холостого хода дает лишние раскачивания и подтеки. К тому же, баллон с краской не может рисовать долго
  без перерыва. Поэтому пока эту функциональность пришлось отключить. Пригодится, когда вместо баллона будет аэрограф.
  %li Хорошо откалиброванные двигатели почти не дают расскачиваний по оси Z. Более чем хватает для помещения.

%p Что дальше:
%ul
  %li С баллонами пора заканчивть. Надо менять их на аэрограф с компрессором
  %li Надо делать систему стабилизации по принципу стедикама
