Date: 20 May 2014
Categories: versions

%h1 Первая попытка
%p
  Цели
  %ul
    %li Проверить собранную конструкцию
    %li Убедиться в правильности работы софта
    %li Нарисовать уже хоть что-нибудь
%p
  Ограничения
  %ul
    %li Самый дешевый баллончик автомобильной краски
    %li Софт умеет рисовать только прямые линии
    %li Двигатели работают на самой маленькой скорости
    %li Картон вместо холста

#fb-root
:javascript
  (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
.fb-post{"data-href" => "https://www.facebook.com/video.php?v=768116633210049", "data-width" => "560"}
