Categories: versions

%h1 План будущих версий

%p
  v3.0
  %ul
    %li Пульверизатор с компрессором вместо баллона c краской
    %li Стабилизация по оси Z
    %li Толщина линии 15мм

%p
  v4.0
  %ul
    %li Заливка фигур
    %li Оптимизация времени рисования
    %li Толщина линии 10мм
    %li Без подтеков
%p
  v5.0
  %ul
    %li Произвольное изменение толщины линии в процессе рисования