Categories: versions

%h1 В начале было слово

%p
  Было желание делать полноценный принтер с направляющими, крепить все это дело к домам, бороться
  с трением, резонансами, силой тяжести и так далее.
%p
  Внутри помещения такие задачи решаются
%p Например, так:
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "//www.youtube.com/embed/W6tkotN95PA", :width => "100%"}

%p Так:
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "//www.youtube.com/embed/2ZpVnm7SXa8", :width => "100%"}

%p Или так:
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "//www.youtube.com/embed/8x-BFPOAWOI", :width => "100%"}

%p
  Но такая же задача за пределами помещения сложнее на порядок. Для тех, у кого плохо с математикой – это в десятки раз.
  Размеры, ветер, неровность стен, разные материалы, вес, энергопотребление, драйверы, нужные чернила и так далее.
%p
  Пришлось бросить
%hr
%p
  Потом я нашел Hektor

%iframe{:allowfullscreen => "", :frameborder => "0", :height => "375", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/15820929", :webkitallowfullscreen => "", :width => "100%"}
%p
  Студенческая поделка из Швейцарии. Технологии из этого проекта нам не подошли по разным причинам. Пришлось делать с нуля.
%p
  %a{href:'/versions/first-try'}
    Результаты