Date: 31 Dec 2010

%h1 Текущая версия: 1.5
Работает как-то так:
%p.youtube
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "//www.youtube.com/embed/lra0QomDrCA", :width => "560"}